.prompt-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  & .prompt-overlay {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
  }

  & .prompt {
    background-color: white;
    z-index: 1100;
    padding: 50px;
    border-radius: 50px;
    width: 100%;
    margin: 50px;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;

    & .prompt__message {
      margin-bottom: 20px;
    }

    & .prompt__input {
      margin-bottom: 25px;
      width: 100%;
      height: 60px;
      border: 1px solid #CCCCCC;
      background-color: #F7F7F7;
      padding: 18px 20px;
      box-sizing: border-box;

      &::placeholder {
        color: #999999;
        font-family: 'Montserrat', sans-serif;
      }
    }

    & .prompt__buttons-container {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
    }
  }
}
