:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.string-list-view {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #A1C4FD, #C2E9FB);
  display: flex;
  justify-content: center;
  align-items: center;
}

.string-list-container {
  background-color: white;
  width: 90%;
  max-width: 900px;
  min-width: 600px;
  min-height: 577px;
  box-shadow: 0px 5px 12px #0000001F;
  border-radius: 20px;
  padding: 50px;
  box-sizing: border-box;
  color: #333333;
}

.string-list-container .string-list-container__title {
  margin-bottom: 13px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.string-list-container .string-list-container__description {
  margin-bottom: 35px;
  font-size: 18px;
  text-align: center;
}

.string-list-container .string-list-container__list {
  height: 225px;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 11px;
  overflow-y: auto;
}

.string-list-container .string-list-container__item {
  cursor: pointer;
  padding: 4px 8px;
}

.string-list-container .string-list-container__item--selected {
  color: white;
  background-color: #324BFF;
}

.string-list-container .string-list-container__actions {
  display: flex;
  justify-content: space-between;
}

.string-list-container .string-list-container__actions > div {
  display: flex;
  gap: 15px;
}

.custom-button {
  min-height: 50px;
  min-width: 100px;
  border: 1px solid #324BFF;
  color: #324BFF;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  user-select: none;
  background: none;
}

.custom-button.primary {
  background-color: #324BFF;
  color: white;
}

.custom-button svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.custom-button.disabled,
.custom-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-button:active:not(.disabled):not(:disabled) {
  transform: scale(0.95);
  background-color: #2338c9;
  color: white;
}

.prompt-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.prompt-container .prompt-overlay {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.5;
}

.prompt-container .prompt {
  background-color: white;
  z-index: 1100;
  padding: 50px;
  border-radius: 50px;
  width: 100%;
  margin: 50px;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
}

.prompt .prompt__message {
  margin-bottom: 20px;
}

.prompt .prompt__input {
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  border: 1px solid #CCCCCC;
  background-color: #F7F7F7;
  padding: 18px 20px;
  box-sizing: border-box;
}

.prompt .prompt__input::placeholder {
  color: #999999;
  font-family: 'Montserrat', sans-serif;
}

.prompt .prompt__buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
