.custom-button {
    min-height: 50px;
    min-width: 100px;
    border: 1px solid #324BFF;
    color: #324BFF;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    user-select: none;

    &.primary {
        background-color: #324BFF;
        color: white;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:active:not(.disabled) {
        transform: scale(0.95);
        background-color: #2338c9;
        color: white;
    }

    & svg {
        position: relative;
        top: 2px;
    }

}
